# 동일한 구간으로 값을 나누기

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 연습용 데이터 

lst = list(range(1,101))
df= pd.DataFrame(lst, columns = ['d1'])  # 동일한 1~100 까지 1개 씩 값을 가지고 있음 
df['d2']= df['d1'].apply(lambda x: 1 if x < 50 else x) #  1 이 50개, 51~100까지 1개의 값을 가지고 있음 
df['d3']= df['d1'].apply(lambda x: 1 if x < 75 else x) #  1 이 25개, 26~100까지 1개의 값을 가지고 있음 
df

     d1   d2   d3
0     1    1    1
1     2    1    1
2     3    1    1
3     4    1    1
4     5    1    1
..  ...  ...  ...
95   96   96   96
96   97   97   97
97   98   98   98
98   99   99   99
99  100  100  100

[100 rows x 3 columns]

##구간화를 하는 2가지 함수 
- qcut() : 분위수를 기반으로 나눠줌 
- cut() : 등구간으로 나눠줌

둘다 비슷한 사용법. 그렇지만 quct을 좀더 선호하는 이유는 중복값이 많아 구간이 정의한 값보다 적게 구간이 생성될 경우 qcut은 중간에 값이 빠진 구간이 없이 만들어줌.

In [ ]:
# 중복값이 없는경우 (Nice 함)
pd.qcut(df['d1'], 4)

0     (0.999, 25.75]
1     (0.999, 25.75]
2     (0.999, 25.75]
3     (0.999, 25.75]
4     (0.999, 25.75]
           ...
95    (75.25, 100.0]
96    (75.25, 100.0]
97    (75.25, 100.0]
98    (75.25, 100.0]
99    (75.25, 100.0]
Name: d1, Length: 100, dtype: category
Categories (4, interval[float64, right]): [(0.999, 25.75] < (25.75, 50.5] < (50.5, 75.25] <
                                           (75.25, 100.0]]

In [6]:
# 중복값이 많아 구간을 원하는 만큼 못 만들경우 (에러 발생)
pd.qcut(df['d2'], 4).value_counts()

ValueError: ignored

In [7]:
# 중복값이 많아 구간을 원하는 만큼 못 만들경우 
pd.qcut(df['d2'], 4, duplicates ='drop').value_counts(sort ='False')

(0.999, 50.5]     50
(50.5, 75.25]     25
(75.25, 100.0]    25
Name: d2, dtype: int64

In [8]:
pd.qcut(df['d3'], 4, duplicates ='drop').value_counts(sort ='False')

(0.999, 75.25]    75
(75.25, 100.0]    25
Name: d3, dtype: int64

In [9]:
# cut 함수를 이용할 경우 
pd.cut(df['d2'], 4, duplicates ='drop').value_counts(sort ='False')

(0.901, 25.75]    49
(50.5, 75.25]     25
(75.25, 100.0]    25
(25.75, 50.5]      1
Name: d2, dtype: int64

In [10]:
pd.cut(df['d3'], 4, duplicates ='drop').value_counts(sort ='False')

(0.901, 25.75]    74
(75.25, 100.0]    25
(50.5, 75.25]      1
(25.75, 50.5]      0
Name: d3, dtype: int64

In [11]:
pd.cut(df['d3'], 4, duplicates ='drop').value_counts(sort ='False')

(0.901, 25.75]    74
(75.25, 100.0]    25
(50.5, 75.25]      1
(25.75, 50.5]      0
Name: d3, dtype: int64